<table>
  <thead>
    <tr>
      <th class="table-cell">Image</th>
      <th class="table-cell">Prénom</th>
      <th class="table-cell">Nom</th>
      <th class="table-cell">Date de naissance</th>
      <th class="table-cell">Catégorie du compte</th>
      <th class="table-cell">Email</th>
      <th class="table-cell">Profession</th>
      <th class="table-cell">Actions</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of (users$ | async); let i = index" class="table-row">
    <tr *ngIf="user.accountCategory === SearchItem || !SearchItem"> 
      <td class="table-cell"><img [src]="user.picture" alt="Image de l'utilisateur" width="50" height="50"></td>
      <td class="table-cell">{{ user.firstName }}</td>
      <td class="table-cell">{{ user.lastName }}</td>
      <td class="table-cell">{{ user.birthDate }}</td>
      <td class="table-cell">{{ user.accountCategory }}</td>
      <td class="table-cell">{{ user.email }}</td>
      <td class="table-cell">{{ user.profession }}</td>
      <td class="table-cell">
        <!-- <button (click)="deleteUser(user)" [disabled]="user.accountCategory === 'Admin'" [class.button-rouge]="true">Supprimer</button> -->
      </td>
    </tr>
  </tbody>
</table>
