<h2>add new user</h2>
<form #addForm="ngForm" (ngSubmit)="add(addForm)">
    <div class="form-group">
      <label for="fn">First name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" ngModel  #firstName="ngModel">
      

      <label for="fn">Last name </label>
      <input type="text" class="form-control" id="lastName" name="lastName" ngModel required minlength="3" #lastName="ngModel">
      <small class="text text-danger" *ngIf="lastName?.errors?.['required'] && lastName.touched">Last name is required</small>
     

    </div>
    <label for="fn">Birth date </label>
    <input type="date" class="form-control" id="birthDate" name="birthDate" ngModel  #birthDate="ngModel">
    <small class="text text-danger" *ngIf="birthDate?.errors?.['required'] && birthDate.touched">birth date is required</small>

    <label for="fn">Email </label>
    <input type="email" class="form-control" id="email" name="email" ngModel  pattern="^[a-zA-Z0-9._-]+@gmail.com$" #email="ngModel">
    <small class="text text-danger" *ngIf="email?.errors?.['required'] && email.touched">email is required</small>

    <label for="fn">Password </label>
    <input type="password" class="form-control" id="password" name="password" ngModel required minlength="8" pattern="^[a-zA-Z0-9]{8,}?$" #password="ngModel">
    <small class="text text-danger" *ngIf="password?.errors?.['required'] && password.touched">Password is required</small>
    
    <label for="fn">Profession  </label>
    <input type="email" class="form-control" id="profession" name="profession" ngModel required minlength="3" #profession="ngModel">
    <small class="text text-danger" *ngIf="profession?.errors?.['required'] && profession.touched">profession is required</small>


    <label for="fn">Customer </label>
<select class="form-control" id="accountCategory" name="accountCategory" ngModel required>
    <option value="Customer">Customer</option>
</select>
<label for="picture">Picture URL</label>
<input type="text" class="form-control" id="picture" name="picture" ngModel #picture="ngModel">


<button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Submit</button>  </form>